.dailyForecast {
  color: $white;
  align-self: stretch;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;

  &__errorMessage {
    color: $yellow;
    font-size: 2rem;
    margin-top: 2rem;
    display: inline-block;
    background-color: rgba($greyblue, 0.5);
    padding: 2rem 4rem;
    border-radius: 1rem;
  }

  &__details {
  }

  &__header {
    font-size: 2rem;
    font-weight: 500;
  }

  &__sup {
    margin-left: 0.3rem;
  }

  &__sup--mainTemp {
    font-size: 2rem;
  }

  &__updatedOn {
    font-size: 1.2rem;
  }

  &__temp {
    color: $yellow;
    font-size: 6rem;
  }

  &__condition {
    font-size: 1.5rem;
    margin-top: -1rem;
    text-transform: capitalize;

    @include respond(sm) {
      margin-top: 0rem;
    }
  }

  &__subDetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex: 1;
    margin-left: 5rem;
    font-size: 1.7rem;

    @include respond(sm) {
      margin-left: 2rem;
    }

    @include respond(xs) {
      margin-left: 0.7rem;
    }
  }

  &__windSpeed {
  }

  &__maxTemp {
  }

  &__minTemp {
  }

  &__pressure {
  }

  &__humidity {
  }

  &__sunrise {
  }

  &__sunset {
  }
}
