.footer {
  height: 10rem;
  background-color: $greyblue;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  &__createdWith {
    margin-bottom: 0.5rem;
  }
}
